* {
  margin: 0;
  padding: 0;
}

:root {
  --fonte-principal: 'Inter', 'Arial', sans-serif;
  
  --cor-fundo-card: #EB5E67;
  --cor-botao-bg: #FFFFFF;
  --cor-botao-texto: #000000;
  --cor-botao-hover-texto: #EB5E67;
  
  --btn-largura: 294px;
  --btn-altura: 57px;
  --btn-radius: 16px;
  
  --gap-padrao: 1rem;
  --padding-card: 2rem;

}



.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  width: 395px;
  height: 852px;
  background-color: #EB5E67;
}

.card .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

}

.button {
  align-self: start;
  align-items: center;
  display: flex;
  height: 57px;
  width: 294px;
  background-color: #fff;
  font-size: 1rem;
  border-radius: 16px;
  text-decoration: none;
  border: #fff;
}


.card-footer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.img {
  width: 24px;
  height: 24px;
}


.button :hover {
  background-color: #fff;
  color: #EB5E67;
  border: 1px solid #EB5E67;
}

