* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fonte-principal: 'Inter', 'Arial', sans-serif;
  
  --cor-fundo-card: #EB5E67;
  --cor-botao-bg: #FFFFFF;
  --cor-botao-texto: #000000;
  --cor-botao-hover-texto: #EB5E67;
  
  --btn-largura: 294px;
  --btn-altura: 57px;
  --btn-radius: 16px;
  
  --gap-padrao: 1rem;
  --padding-card: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-padrao);
  padding: var(--padding-card);
  width: 395px;
  height: 852px;
  background-color: var(--cor-fundo-card);
}

.card .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-padrao);

}

.button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1.5rem;
  
  width: var(--btn-largura);
  height: var(--btn-altura);
  background-color: var(--cor-botao-bg);
  color: var(--cor-botao-texto);

  font-family: var(--fonte-principal);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;

  border-radius: var(--btn-radius);
  border: 1px solid transparent;
  cursor: pointer;
}

.button:hover {
  background-color: #fff;
  color: var(--cor-botao-hover-texto);
  border: 1px solid var(--cor-botao-hover-texto);
}


.card-footer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button .img {
  margin-right: 1rem;
  width: 24px;
  height: 24px;
}


